<md-toolbar class="md-primary md-hue-1" md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Countries">
            <md-icon>public</md-icon>
        </md-button>
        <h2>
          <span>Countries</span>
        </h2>
        <span flex></span>
        <md-autocomplete md-selected-item="adminCountries.selectedItem" md-search-text="adminCountries.searchText" md-items="item in adminCountries.data.countries | filter: adminCountries.searchText" md-item-text="item.country" placeholder="Search Countries"
            aria-label="Search countries">
            <md-item-template>
                <span md-highlight-text="adminCountries.searchText" md-highlight-flags="^i" class="md-body-2">{{item.country}}</span>
                <span class="md-caption">{{item.first_name}} {{item.last_name}}</span>
            </md-item-template>
            <md-not-found>
                Sorry, no matches found.
            </md-not-found>
        </md-autocomplete>
        <md-button class="md-raised md-warn md-hue-2" href="/admin/countries/add" aria-label="Add new country">
            <md-icon>add</md-icon>
            New Country
        </md-button>
        <md-button class="md-raised md-warn md-hue-2" ng-click="adminCountries.print()" aria-label="Print">
            <md-icon>print</md-icon>
            Print
        </md-button>
    </div>
</md-toolbar>
<md-content>
    <div layout="row" layout-sm="column" layout-align="space-around center" ng-if="!adminCountries.data.countries" layout-padding>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="country in adminCountries.data.countries | filter: adminCountries.searchText" ng-click="null">
            <div class="md-list-item-text" layout="column">
                <h3>{{country.country}}</h3>
                <h4>{{country.first_name}} {{country.last_name}}</h4>
                <p>{{country.title}} - {{country.organization}}</p>
            </div>
            <md-button class="md-secondary md-raised md-primary" href="/admin/countries/{{country.id}}">
                <md-icon aria-label="View and edit country information">edit</md-icon>
                Edit
            </md-button>
        </md-list-item>
    </md-list>
</md-content>
