<md-toolbar class="md-primary md-hue-1" md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Account">
            <md-icon>supervisor_account</md-icon>
        </md-button>
        <h2>
        <span>Account</span>
      </h2>
        <span flex></span>
        <md-button class="md-raised md-warn md-hue-2" ng-click="adminAccount.showSignInModal($event)" aria-label="Update account">
            <md-icon>update</md-icon>
            Update
        </md-button>
        <md-button class="md-raised md-warn md-hue-2" ng-click="adminAccount.print()" aria-label="Print">
            <md-icon>print</md-icon>
            Print
        </md-button>
    </div>
</md-toolbar>

<md-content layout="row" layout-xs="column">
    <div flex layout-padding>
        <h3 class="md-title">Account info</h3>
        <md-list>
            <md-list-item class="md-2-line">
                <md-icon>person</md-icon>
                <div class="md-list-item-text">
                    <h3>Display name</h3>
                    <p>{{adminAccount.auth.displayName}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <md-icon>email</md-icon>
                <div class="md-list-item-text">
                    <h3>Email address</h3>
                    <p>{{adminAccount.auth.email}}</p>
                </div>
            </md-list-item>
        </md-list>

        <md-divider hide-gt-xs></md-divider>
    </div>
    <div flex layout-padding>
        <h3 class="md-title">Update account info</h3>
        <form layout-margin>
            <md-input-container class="md-icon-float md-block">
                <label>New display name</label>
                <md-icon>person</md-icon>
                <input ng-model="adminAccount.newDisplayName" placeholder="{{adminAccount.auth.displayName}}" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>New email address</label>
                <md-icon>email</md-icon>
                <input ng-model="adminAccount.newEmail" placeholder="{{adminAccount.auth.email}}" type="email">
            </md-input-container>
            <div layout="row" layout-align="space-between start">
                <md-input-container class="md-icon-float" flex>
                    <label>New password</label>
                    <md-icon>lock</md-icon>
                    <input ng-model="adminAccount.newPassword" placeholder="********" type="password">
                </md-input-container>
            </div>


        </form>

    </div>


</md-content>
