<md-toolbar class="md-primary md-hue-1" md-scroll-shrink>
    <div class="md-toolbar-tools">

        <md-button class="md-icon-button" aria-label="Industries">
            <md-icon>business</md-icon>
        </md-button>

        <h2>
          <span>Industries</span>
        </h2>

        <span flex></span>

        <md-button ng-click="null" class="md-raised md-warn md-hue-2" href="/admin/industries/add">
            <md-icon>add</md-icon>
            New Industry
        </md-button>
        <md-button class="md-raised md-warn md-hue-2" ng-click="adminIndustries.print()" aria-label="Print">
            <md-icon>print</md-icon>
            Print
        </md-button>

    </div>

</md-toolbar>

<md-content layout-padding>
    <div layout="row" layout-sm="column" layout-align="space-around center" ng-if="!adminIndustries.data.industries" layout-padding>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="item in adminIndustries.data.industries" ng-click="null">
            <div class="md-list-item-text">
                <h3>{{item.industry}}</h3>
                <md-button class="md-secondary md-raised md-primary" href="/admin/industries/{{item.id}}" aria-label="Edit industry">
                    <md-icon aria-label="View and edit industry information">edit</md-icon>
                    Edit
                </md-button>
            </div>
        </md-list-item>
    </md-list>
</md-content>
