<md-content>

<h1>Reports</h1>


<!-- <button ng-click="adminReports.getUserData()">Get Reports</button> -->

<button ng-click="adminReports.printPage()">Print Reports</button>

<table border="1">
    <thead>
        <tr>
            <th>Topic id</th>
            <th>Topic</th>
            <th>Number Of Hits</th>
        </tr>
    </thead>
    <tbody ng-repeat="topic in adminReports.topicsList track by $index">
        <tr>
            <td>{{topic.id}}</td>
            <td>{{topic.topic}}</td>
            <td>{{topic.number_of_hits}}</td>
        </tr>
    </tbody>
</table>

 <h1> Unmatched Topics Table</h1>
<table border="1">
    <thead>
        <tr>
            <th>Unmatched Topic id</th>
            <th>Unmatched Topic</th>
        </tr>
    </thead>
    <tbody ng-repeat="topic in adminReports.unmatchedList track by $index">
        <tr>
            <td>{{topic.id}}</td>
            <td>{{topic.unmatched_topic}}</td>
        </tr>
    </tbody>
</table>

</md-content>
