<md-toolbar class="md-primary md-hue-1" md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Websites">
            <md-icon>web</md-icon>
        </md-button>
        <h2>
          <span>Websites</span>
        </h2>
        <span flex></span>
        <md-autocomplete md-selected-item="adminWebsites.selectedItem" md-search-text="adminWebsites.searchText" md-items="item in adminWebsites.data.websites | filter: adminWebsites.searchText" md-item-text="item.website" placeholder="Search Websites" aria-label="Search websites">
            <md-item-template>
                <span md-highlight-text="adminWebsites.searchText" md-highlight-flags="^i" class="md-body-2">{{item.website}}</span>
                <span class="md-caption">{{item.website}}</span>
            </md-item-template>
            <md-not-found>
                Sorry, no matches found.
            </md-not-found>
        </md-autocomplete>
        <md-button href="/admin/websites/add" class="md-raised md-warn md-hue-2" aria-label="Add new website">
            <md-icon>add</md-icon>
            New Website
        </md-button>
        <md-button class="md-raised md-warn md-hue-2" ng-click="adminWebsites.print()" aria-label="Print">
            <md-icon>print</md-icon>
            Print
        </md-button>
    </div>
</md-toolbar>
<md-content layout-padding>
    <div layout="row" layout-sm="column" layout-align="space-around center" ng-if="!adminWebsites.data.websites" layout-padding>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="website in adminWebsites.data.websites | filter: adminWebsites.searchText" ng-click="null">
            <div class="md-list-item-text" layout="column">
                <h3>{{ website.website }}</h3>
            </div>
            <md-button class="md-secondary md-raised md-primary" href="/admin/websites/{{website.id}}">
                <md-icon aria-label="View and edit website information">edit</md-icon>
                Edit
            </md-button>
        </md-list-item>
    </md-list>
</md-content>
