<md-content layout-padding>

<h1>Topic: <input type="text" ng-model="adminTopicsEdit.topic.topic" /></h1>

<label for="note_1">Note 1: </label>
<textarea ng-model="adminTopicsEdit.topic.note_1" ></textarea>

<br />

<label for="note_2">Note 2: </label>
<textarea ng-model="adminTopicsEdit.topic.note_2" ></textarea>

<br />

<label for="note_3">Note 3: </label>
<textarea ng-model="adminTopicsEdit.topic.note_3" ></textarea>

<br />
<br />

<label for="website_1">Website 1: </label>
<!-- <select ng-options="site for site in adminTopicsEdit.websites"
  ng-model="adminTopicsEdit.selectedWebsite1">
</select>   -->

<br />

<label for="website_2">Website 2: </label>
<!-- <select ng-options="site for site in adminTopicsEdit.websites"
  ng-model="adminTopicsEdit.selectedWebsite2">
</select>  -->

<br />

<label for="website_3">Website 3: </label>
<!-- <select ng-options="site for site in adminTopicsEdit.websites"
  ng-model="adminTopicsEdit.selectedWebsite3">
</select>  -->

<br />
<br />

<p>
  {{adminTopicsEdit.contact_1}}
</p>

<label for="contact_1">Change to: </label>
<select ng-options="contact.first_name + ' ' + contact.last_name for contact in
  adminTopicsEdit.contacts" ng-model="adminTopicsEdit.selectedContact1.id">
</select>

<br />

<p>
  {{adminTopicsEdit.contact_2}}
</p>

<label for="contact_2">Change to: </label>
<select ng-options="contact.first_name + ' ' + contact.last_name for contact in
  adminTopicsEdit.contacts" ng-model="adminTopicsEdit.selectedContact2.id">
</select>

<br />


<p>
  {{adminTopicsEdit.contact_3}}
</p>

<label for="contact_3">Change to: </label>
<select ng-options="contact.first_name + ' ' + contact.last_name for contact in
  adminTopicsEdit.contacts" ng-model="adminTopicsEdit.selectedContact3.id">
</select>

<br />

<button ng-click="adminTopicsEdit.update()">Update</button>

</md-content>
