<md-toolbar class="md-primary md-hue-1" md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Reports">
            <md-icon>show_chart</md-icon>
        </md-button>
        <h2>
          <span>Reports</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised md-warn md-hue-2" ng-click="adminReports.print()" aria-label="Print">
            <md-icon>print</md-icon>
            Print
        </md-button>
    </div>
</md-toolbar>
<md-content>
    <md-list>
        <md-subheader>
            <md-icon>warning</md-icon> <span>Unmatched Topics</span>
        </md-subheader>
        <md-list-item class="md-2-line" ng-repeat="topic in adminReports.unmatchedList track by $index" ng-click="null">
            <div class="md-list-item-text">
                <h3>{{topic.unmatched_topic}}</h3>
                <p>
                   {{topic.unmatched_number_of_hits}} <span ng-if="topic.unmatched_number_of_hits>1||topic.unmatched_number_of_hits==0">hits</span><span ng-if="topic.unmatched_number_of_hits==1">hit</span>
                </p>
            </div>
        </md-list-item>
        <md-subheader>
            <md-icon>chat_bubble</md-icon> <span>Topics</span>
        </md-subheader>
        <md-list-item class="md-2-line" ng-repeat="topic in adminReports.topicsList track by $index" ng-click="null">
            <div class="md-list-item-text">
                <h3>{{topic.topic}} </h3>
                <p>{{topic.number_of_hits}} <span ng-if="topic.number_of_hits>1||topic.number_of_hits==0">hits</span><span ng-if="topic.number_of_hits==1">hit</span></p>
            </div>
            <md-button class="md-secondary md-raised md-primary" href="/admin/topics/{{topic.id}}" aria-label="Edit in topics">
                <md-icon>open_in_new</md-icon> Edit in topics
            </md-button>

        </md-list-item>

    </md-list>
</md-content>
