<md-toolbar class="md-primary md-hue-1" md-scroll-shrink>
    <div class="md-toolbar-tools">

        <md-button class="md-icon-button" aria-label="Topics">
            <md-icon>chat_bubble</md-icon>
        </md-button>

        <h2>
          <span>Topics</span>
        </h2>

        <span flex></span>

        <md-button ng-click="adminTopicsEdit.update()" class="md-raised md-warn md-hue-2" aria-label="Update this topic">
          <md-icon>update</md-icon>
          Update
        </md-button>

        <md-button ng-click="adminTopicsEdit.delete()" class="md-raised md-warn md-hue-2" aria-label="Delete this topic">
          <md-icon>delete</md-icon>
          Delete
        </md-button>
        
    </div>
</md-toolbar>

<md-content layout-padding>

    <h1>Topic: <input type="text" ng-model="adminTopicsEdit.data.topics[adminTopicsEdit.topicId].topic" aria-label="Text input for topic's title" /></h1>

      <label for="note_1">Note 1: </label>
      <textarea ng-model="adminTopicsEdit.data.topics[adminTopicsEdit.topicId].note_1" aria-label ></textarea>

      <br />

      <label for="note_2">Note 2: </label>
      <textarea ng-model="adminTopicsEdit.data.topics[adminTopicsEdit.topicId].note_2" ></textarea>

      <br />

      <label for="note_3">Note 3: </label>
      <textarea ng-model="adminTopicsEdit.data.topics[adminTopicsEdit.topicId].note_3" ></textarea>

      <br />
      <br />

      <label for="website_1">Website 1: </label>
      <md-select ng-model="adminTopicsEdit.data.topics[adminTopicsEdit.topicId].website_1">
          <md-option ng-repeat="site in adminTopicsEdit.data.websites"
          value="{{site.website}}">{{site.website}}</md-option>
      </md-select>

      <br />

      <label for="website_2">Website 2: </label>
      <md-select ng-model="adminTopicsEdit.data.topics[adminTopicsEdit.topicId].website_2">
          <md-option ng-repeat="site in adminTopicsEdit.data.websites"
          value="{{site.website}}">{{site.website}}</md-option>
      </md-select>

      <br />

      <label for="website_3">Website 3: </label>
      <md-select ng-model="adminTopicsEdit.data.topics[adminTopicsEdit.topicId].website_3">
          <md-option ng-repeat="site in adminTopicsEdit.data.websites"
          value="{{site.website}}">{{site.website}}</md-option>
      </md-select>

      <br />
      <br />

      <label for="contact_1">Contact 1: </label>
      <md-select ng-model="adminTopicsEdit.contact1">
          <md-option
              ng-repeat="contact in adminTopicsEdit.data.contacts"
              ng-value="contact"
              ng-selected="contact.id === (adminTopicsEdit.data.topics | filter: {id: adminTopicsEdit.topicId})[0].contact_id_1">
              {{contact.first_name}} {{contact.last_name}}, {{contact.organization}}
          </md-option>
      </md-select>

      <br />

      <label for="contact_2">Contact 2: </label>
      <md-select ng-model="adminTopicsEdit.contact2">
        <md-option
          ng-repeat="contact in adminTopicsEdit.data.contacts"
          ng-value="contact"
          ng-selected="contact.id === (adminTopicsEdit.data.topics | filter: {id: adminTopicsEdit.topicId})[0].contact_id_2">
          {{contact.first_name}} {{contact.last_name}}, {{contact.organization}}
        </md-option>
      </md-select>

      <br />

      <label for="contact_3">Contact 3: </label>
      <md-select ng-model="adminTopicsEdit.contact3">
        <md-option
          ng-repeat="contact in adminTopicsEdit.data.contacts"
          ng-value="contact"
          ng-selected="contact.id === (adminTopicsEdit.data.topics | filter: {id: adminTopicsEdit.topicId})[0].contact_id_3">
          {{contact.first_name}} {{contact.last_name}}, {{contact.organization}}
        </md-option>
      </md-select>

</md-content>
