<md-toolbar class="md-primary md-hue-1" md-scroll-shrink>
    <div class="md-toolbar-tools">

        <md-button class="md-icon-button" aria-label="Topics">
            <md-icon>chat_bubble</md-icon>
        </md-button>

        <h2>
          <span>Topics</span>
        </h2>

        <span flex></span>

        <md-button href="/admin/topics" class="md-raised md-warn md-hue-2" aria-label="Go back">
          <md-icon>arrow_back</md-icon>
          Back
        </md-button>

        <md-button ng-click="adminTopicsAdd.add()" href="/admin/topics" class="md-raised md-warn md-hue-2">
          <md-icon>add</md-icon>
          Add
        </md-button>

    </div>
</md-toolbar>

<md-content layout-padding>


  <md-input-container class="md-block">
    <label>Topic</label>
    <input ng-model="adminTopicsAdd.newTopic" aria-label="Input for topic's title">
  </md-input-container>

  <md-input-container class="md-block">
    <label>Note 1</label>
    <textarea ng-model="adminTopicsAdd.newNote_1" aria-label="Input for note 1" ></textarea>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Contact 1</label>
    <md-select ng-model="adminTopicsAdd.newContact_1">
      <md-option
          ng-repeat="contact in adminTopicsAdd.data.contacts"
          ng-value="contact">
          {{contact.first_name}} {{contact.last_name}}, {{contact.organization}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Website 1</label>
    <md-select ng-model="adminTopicsAdd.newWebsite_1">
        <md-option ng-repeat="site in adminTopicsAdd.data.websites"
        value="{{site.website}}">{{site.website}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label> Note 2</label>
    <textarea ng-model="adminTopicsAdd.newNote_2" aria-label="Input for note 2" ></textarea>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Contact 2</label>
    <md-select ng-model="adminTopicsAdd.newContact_2">
      <md-option
          ng-repeat="contact in adminTopicsAdd.data.contacts"
          ng-value="contact">
          {{contact.first_name}} {{contact.last_name}}, {{contact.organization}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Website 2</label>
    <md-select ng-model="adminTopicsAdd.newWebsite_2">
        <md-option ng-repeat="site in adminTopicsAdd.data.websites"
        value="{{site.website}}">{{site.website}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label> Note 3</label>
    <textarea ng-model="adminTopicsAdd.newNote_3" aria-label="Input for note 3" ></textarea>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Contact 3</label>
    <md-select ng-model="adminTopicsAdd.newContact_3">
      <md-option
          ng-repeat="contact in adminTopicsAdd.data.contacts"
          ng-value="contact">
          {{contact.first_name}} {{contact.last_name}}, {{contact.organization}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Website 3</label>
    <md-select ng-model="adminTopicsAdd.newWebsite_3">
        <md-option ng-repeat="site in adminTopicsAdd.data.websites"
        value="{{site.website}}">{{site.website}}</md-option>
    </md-select>
  </md-input-container>

</md-content>
