<md-toolbar class="md-primary md-hue-1" md-scroll-shrink>
  <div class="md-toolbar-tools">

    <md-button class="md-icon-button" aria-label="Industries">
      <md-icon>business</md-icon>
    </md-button>

    <h2>
      <span>Industries</span>
    </h2>

    <span flex></span>

    <md-button ng-click="adminIndustriesEdit.update()" href="/admin/industries" class="md-raised md-warn md-hue-2" aria-label="Update this industry">
      <md-icon>update</md-icon>
      Update
    </md-button>

  </div>
</md-toolbar>

<md-content layout-padding>

  <md-input-container class="md-block">
    <label>Industry</label>
    <input ng-model="adminIndustriesEdit.data.industries[adminIndustriesEdit.industryId].industry" aria-label="Input for industry's title">
  </md-input-container>

  <md-input-container class="md-block">
    <label>Note 1</label>
    <textarea ng-model="adminIndustriesEdit.data.industries[adminIndustriesEdit.industryId].note_1" aria-label="Input for note 1" ></textarea>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Note 2</label>
    <textarea ng-model="adminIndustriesEdit.data.industries[adminIndustriesEdit.industryId].note_2" aria-label="Input for note 2" ></textarea>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Note 3</label>
    <textarea ng-model="adminIndustriesEdit.data.industries[adminIndustriesEdit.industryId].note_3" aria-label="Input for note 3" ></textarea>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Website 1</label>
    <md-select ng-model="adminIndustriesEdit.data.industries[adminIndustriesEdit.industryId].website_1">
        <md-option ng-repeat="site in adminIndustriesEdit.data.websites"
        value="{{site.website}}">{{site.website}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Website 2</label>
    <md-select ng-model="adminIndustriesEdit.data.industries[adminIndustriesEdit.industryId].website_2">
        <md-option ng-repeat="site in adminIndustriesEdit.data.websites"
        value="{{site.website}}">{{site.website}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Website 3</label>
    <md-select ng-model="adminIndustriesEdit.data.industries[adminIndustriesEdit.industryId].website_3">
        <md-option ng-repeat="site in adminIndustriesEdit.data.websites"
        value="{{site.website}}">{{site.website}}</md-option>
    </md-select>
  </md-input-container>



    <label for="contact_1">Contact 1: </label>
    <md-select ng-model="adminIndustriesEdit.contact1">
      <md-option
        ng-repeat="contact in adminIndustriesEdit.data.contacts"
        ng-value="contact"
        ng-selected="contact.id === (adminIndustriesEdit.data.industries | filter: {id: adminIndustriesEdit.industryId})[0].contact_id_1">
        {{contact.first_name}} {{contact.last_name}}, {{contact.organization}}
      </md-option>
    </md-select>

    <br/>

    <label for="contact_2">Contact 2: </label>
    <md-select ng-model="adminIndustriesEdit.contact2">
      <md-option
        ng-repeat="contact in adminIndustriesEdit.data.contacts"
        ng-value="contact"
        ng-selected="contact.id === (adminIndustriesEdit.data.industries | filter: {id: adminIndustriesEdit.industryId})[0].contact_id_2">
        {{contact.first_name}} {{contact.last_name}}, {{contact.organization}}
      </md-option>
    </md-select>

    <br/>

    <label for="contact_3">Contact 3: </label>
    <md-select ng-model="adminIndustriesEdit.contact3">
      <md-option
        ng-repeat="contact in adminIndustriesEdit.data.contacts"
        ng-value="contact"
        ng-selected="contact.id === (adminIndustriesEdit.data.industries | filter: {id: adminIndustriesEdit.industryId})[0].contact_id_3">
        {{contact.first_name}} {{contact.last_name}}, {{contact.organization}}
      </md-option>
    </md-select>

    <br/>

</md-content>
