<md-toolbar class="md-primary md-hue-1" md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Reports">
            <md-icon>contacts</md-icon>
        </md-button>
        <h2>
          <span>Contacts</span>
        </h2>
        <span flex></span>
        <md-autocomplete md-selected-item="adminContacts.selectedItem" md-search-text="adminContacts.searchText" md-items="item in adminContacts.data.contacts | filter: adminContacts.searchText" md-item-text="item.contact" placeholder="Search Contacts" aria-label="Seach contacts">
            <md-item-template>
                <span md-highlight-text="adminContacts.searchText" md-highlight-flags="^i" class="md-body-2">{{item.contact}}</span>
                <span class="md-caption">{{item.first_name}} {{item.last_name}}</span>
            </md-item-template>
            <md-not-found>
                Sorry, no matches found.
            </md-not-found>
        </md-autocomplete>
        <md-button class="md-raised md-warn md-hue-2" href="admin/contacts/add" aria-label="Add contact">
            <md-icon>add</md-icon>
            Add
        </md-button>
    </div>
</md-toolbar>
<md-content layout-padding>
  <md-list flex>
    <!-- <md-subheader class="md-no-sticky">
      <md-input-container class="floatRight">
        <label>Search</label>
        <input ng-model="adminContacts.search">
      </md-input-container>
    </md-subheader> -->
    <md-list-item class="md-3-line" ng-repeat="contact in adminContacts.data.contacts | filter: adminContacts.search" ng-click="null">
      <div class="md-list-item-text" layout="column">
        <h3>{{ contact.first_name }} {{contact.last_name }}</h3>
        <h4>{{ contact.title }} - {{contact.organization}}</h4>
        <p>Email: {{ contact.email }} Phone: {{contact.phone}}</p>
      </div>
      <md-button class="md-secondary md-raised md-primary"
      href="admin/contacts/{{contact.id}}">
        <md-icon aria-label="View and edit website information">edit</md-icon>
        Edit
      </md-button>
    </md-list-item>
  </md-list>
</md-content>
