<!-- Country Search View -->
<md-content layout-padding>
    <h2 "md-headline">Search by Country</h2>
    <!-- HTML for SEARCH Bar -->
    <div class="countriesHeader" ng-controller="CountriesCtrl">
        <form class="countries" action="" method="get">
            <md auto-complete><input type="text" name="search" placeholder="Search.."></md auto-complete>
            <md-button class="raised">Search</md-button>
            <div class="clear-search"></div>
        </form>
    </div>
  </md-content>
