<!-- User Landing Food & Aggribusiness View -->
<md-content layout-padding>
  <body ng-app="exports-navigator" ng-controller="IndustryCtrl">
    <h2 class="md-headline">Food & Aggribusiness</h2>
    <br />
    <p>***REMOVED******REMOVED***message.foodAg***REMOVED******REMOVED***</p>
    <p>***REMOVED******REMOVED***contact.foodAg***REMOVED******REMOVED***</p>
    <!-- <p>Export assistance for agriculture and food producers is provided by the Minnesota Department of Agriculture's Ag Marketing & Development Division.</p>
    <p>Jeffrey Phillips</p>
    <p>International Trade Manager</p>
    <p>MN Department of Agriculture</p>
    <p>http://www.mda.state.mn.us/food/business/internationaltrade.aspx</p>
    <p>Jeffrey.Phillips@state.mn.us</p>
    <p>651-201-6220</p> -->

<br />
<h2 class="md-headline">Medical Devices, Pharma & Life Sciences</h2>
<br />
<p>***REMOVED******REMOVED***message.medDev***REMOVED******REMOVED***</p>
<p>***REMOVED******REMOVED***contact.medDev***REMOVED******REMOVED***</p>
<!-- <p>Specialized assistance for medical device and healthcare companies is available at the federal, state, and regional levels.</p>
<p>David Edmiston</p>
<p>Senior International Trade Specialist</p>
<p>U.S. Commercial Service Minneapolis</p>
<p>http://2016.export.gov/minnesota/index.asp</p>
<p>David.Edmiston@trade.gov</p>
<p>612-348-1644</p> -->
</md-content>
