<!DOCTYPE html>
<html lang="en" ng-app="exports-navigator">
  <head>
    <meta charset="utf-8">
    <title>Exports Help Navigator</title>
  </head>
  <body ng-app="exports-navigator" ng-controller="HomeCtrl">
    <md-content layout-pading>
    <h1 class="md-headline">Export Help Navigator</h1>
    <subheader>To which industry sector does your product belong?</subheader>
    <br />
        <br />
            <div id="preQualContainer" layout="column">
                <div class="wrap">
                    <form>
                        <label for="food-aggribusiness">Food & Aggribusiness</label>
                        <input id="foodag" type="radio" name="content">
                        <br />
                        <label for="meddev">Medical Device, Pharma & Life Sciences</label>
                        <input id="meddev" type="radio" name="content">
                        <br />
                        <label for="other">Other, including manufactured products and services</label>
                        <input id="other" type="radio" name="content">
                    </form>
                </div>
                <md-content>

  </body>
</html>
