<!-- Topic Search View -->
<md-content layout-padding>
    <h1 class="md-headline">Search by Topic</h1>

    <!-- HTML for SEARCH Bar -->
      <div ng-app="exports-navigator" class="container" ng-controller="TopicsCtrl">

      </div>
      <div class="topicHeader">
        <form class="topics" action="" method="get">
            <md auto-complete><input type="text" name="search" placeholder="Search.."></md auto-complete>
            <md-button class="raised">Search</md-button>
                <div class="clear-search"></div>
        </form>

        <div class="footer">
            <h3 class="sub-headline">Don't see your topic listed?</h3>
        </div>
      </div>
</md-content>
