<!-- HTML for Country SEARCH Result -->
<div class="jumbotron text-center">
    <h1>Search by Country</h1>
</div>
<!-- HTML for Country SEARCH Bar -->
<body class="main" ng-controller="CSearchCtrl as countrysrch">
<div class="csearchHeader">
    <form class="csearch" action="" method="get">
        <input type="text" name="country_search" placeholder="Search..">
        <button type="search" name="search">Search</button>
        <div class="csearchClear"></div>
    </form>
  </div>
  <div class="result">
      <p>***REMOVED******REMOVED*** countryResult.message ***REMOVED******REMOVED***</p>
  </div>
</body>
