<!-- User Landing Food & Medical Device, Pharma and Life Science Contact Partial -->
<div class="main">
<body ng-app="exports-navigator" ng-controller="MedDevCtrl as meddev">

<form ng-model="meddevContact">
  {{meddevContact.message:}}
  <input type="radio" ng-model="foodagContact" value="food_aggribusiness">{{food.option}}
  <input type="radio" ng-model="meddevContact" value="meddev_pharma_lifesci">{{med.option}}
  <input type="radio" ng-model="other" value="other">{{other.option}}
</form>

<!-- <div ng-switch="industry_sector">
  <div ng-switch-when="food_aggribusiness">
     <h1>{{food.message}}</h1>
     <p>{{food.contact}}</p>
  </div> -->
  <div ng-switch-when="meddev_pharma_lifesci">
     <h1>{{med.message}}</h1>
     <p>{{med.contact}}</p>
  </div>
  <!-- <div ng-switch-when="other">
     <h1>{{other.message}}</h1>
     <p>{{other.option}}</p>
  </div> -->
</div>
