<!-- User Landing Food & Medical Device, Pharma and Life Science Contact Partial -->
<div class="main">
<body ng-app="exports-navigator" ng-controller="MedDevCtrl as meddev">

<form ng-model="meddevContact">
  ***REMOVED******REMOVED***meddevContact.message:***REMOVED******REMOVED***
  <input type="radio" ng-model="foodagContact" value="food_aggribusiness">***REMOVED******REMOVED***food.option***REMOVED******REMOVED***
  <input type="radio" ng-model="meddevContact" value="meddev_pharma_lifesci">***REMOVED******REMOVED***med.option***REMOVED******REMOVED***
  <input type="radio" ng-model="other" value="other">***REMOVED******REMOVED***other.option***REMOVED******REMOVED***
</form>

<!-- <div ng-switch="industry_sector">
  <div ng-switch-when="food_aggribusiness">
     <h1>***REMOVED******REMOVED***food.message***REMOVED******REMOVED***</h1>
     <p>***REMOVED******REMOVED***food.contact***REMOVED******REMOVED***</p>
  </div> -->
  <div ng-switch-when="meddev_pharma_lifesci">
     <h1>***REMOVED******REMOVED***med.message***REMOVED******REMOVED***</h1>
     <p>***REMOVED******REMOVED***med.contact***REMOVED******REMOVED***</p>
  </div>
  <!-- <div ng-switch-when="other">
     <h1>***REMOVED******REMOVED***other.message***REMOVED******REMOVED***</h1>
     <p>***REMOVED******REMOVED***other.option***REMOVED******REMOVED***</p>
  </div> -->
</div>
