<md-nav-bar md-selected-nav-item="" nav-bar-aria-label="navigation links" layout="row" layout-align="space-between stretch" ng-if="nav.user">
    <md-nav-item md-nav-href="/admin" name="home">Home</md-nav-item>
    <md-nav-item md-nav-href="/admin/industries" name="industries">Industries</md-nav-item>
    <md-nav-item md-nav-href="/admin/topics" name="topics">Topics</md-nav-item>
    <md-nav-item md-nav-href="/admin/countries" name="countries">Countries</md-nav-item>
    <md-nav-item md-nav-href="/admin/contacts" name="contacts">Contacts</md-nav-item>
    <md-nav-item md-nav-href="/admin/websites" name="websites">Websites</md-nav-item>
    <md-nav-item md-nav-href="/admin/reports" name="reports">Reports</md-nav-item>
    <md-nav-item md-nav-href="/admin/managers" name="managers">Managers</md-nav-item>
    <md-nav-item md-nav-click="nav.signOut()" name="sign out">Sign Out</md-nav-item>
</md-nav-bar>
