<md-sidenav class="md-sidenav-left" md-component-id="sidenav" md-whiteframe="4">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span>Administrator Menu</span></h2>
        <span flex></span>
        <md-button aria-label="Close Sidenav Bar" ng-click="sidenav.close()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-subheader>Export Help Navigator</md-subheader>
        <md-list flex>
            <md-list-item ng-repeat="location in sidenav.locations" ng-click="sidenav.navigate(location.path)">
                    <md-icon>{{location.icon}}</md-icon>
                    <p>{{location.name}}</p>
            </md-list-item>
            <md-list-item ng-click="sidenav.signOut()">
                    <md-icon>exit_to_app</md-icon>
                    <p>Sign Out</p>
            </md-list-item>
        </md-list>
</md-sidenav>
